# Ignorar archivos que no necesitas copiar al contenedor
.git
.gitignore
.gitattributes
Dockerfile*
docker-compose.yml
README.md
LICENSE
.env
.env.*
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
node_modules/
venv/
.env.local
*.swp
.rasa/
models/